@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tippy.js/animations/shift-away-subtle.css"; */

:root {
  @apply bg-[#181818] text-[#F1F1F1];

  font-family: "Victor Mono", monospace;
}

nav.navbar {
  @apply text-lg select-none cursor-default;
  @apply grid grid-cols-[1fr_2fr_1fr] items-center gap-4;
  @apply sticky top-0;
  @apply z-40;

  @apply bg-black/60 backdrop-blur-2xl;

  .navbar-search {
    .input-container {
      @apply relative;

      input {
        @media (screen and max-width: 400px) {
          @apply hidden;
        }

        @apply w-full py-0.5;
        @apply text-base;
      }

      .search-button {
        @apply absolute top-0 right-0;
        @apply h-full p-1;

        .search-icon {
          @apply transition-all;
          @apply text-[#787878];
          @apply h-full;
        }

        &:hover .search-icon {
          @apply text-[#A4A4A4];
        }

        &:active .search-icon {
          @apply text-[#646464];
        }
      }
    }
  }

  .navbar-profile {
    @apply justify-self-end;
  }

  .navbar-link {
    @apply transition-all;

    &.router-link-active {
      @apply font-bold;
    }

    &:hover {
      @apply font-bold;
    }
  }
}

.main-app {
  @apply p-2
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold
}

h1 {
  @apply text-2xl
}

input.control-input {
  @apply px-2 py-2;
  @apply rounded-lg;
  @apply border border-[#787878] placeholder-[#787878] bg-[#181818];

  @apply outline-none;
}

.control-button {
  @apply px-2 py-2;
  @apply rounded-lg;

  @apply bg-[#183618];
}

.alert {
  @apply p-2;
  @apply border rounded-lg;

  &.warning {
    @apply border-amber-700 bg-amber-950;
  }
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: .5;

  mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
  mask-size: 200% 100%;
  animation: placeholder-wave 2s linear infinite;
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%;
  }
}
